{% extends "layout.html" %}
{% block title %} GameJams {% endblock %}
{% block content %} 
    <h1 class = "title">GameJams</h1>
    {% if gamejams %}
    <form action="" method="post" name="movie_list">
        <table class = "table is-striped is-fullwidth">
            {% for jam in gamejams %}
            <tr>
                <td>
                    <label class="checkbox">
                        <input type="checkbox" name="movie_keys" value="{{ jam.id }}"/>
                    </label>
                    <a href="">
                    </a>
                </td>
                <td>{{ jam.name }}</td>
                <td>{{ jam.theme }}</td>
                <td>{{ jam.startDate }}</td>
                <td>{{ jam.endDate }}</td>
            </tr>
            {% endfor %}
        </table>


        <div class="field is-grouped">
            <div class="control">
              <button class="button is-danger is-small">Delete</button>
            </div>
        </div>
    </form>

    {% endif %}
{% endblock %}