{% extends "layout.html" %}
{% import "macros.html" as macros %}
{% block title %}Log in{% endblock %}
{% block content %}

<div class="container" style="text-align: center">
    <h1 class="title">Log in</h1>
</div>
<div class="column is-4 is-offset-4">


    <form action="" method="post" name="movie_edit">
        {{ macros.required_text_field(values, 'email', type='email')}}
        {{ macros.required_text_field(values, 'password', type='password')}}

    <div class="field is-grouped">
        <div class="control">
        <button class="button is-primary">Sign up</button>
        </div>
    </div>
    </form>
</div>
{% endblock %}