{% extends "layout.html" %}
{% import "macros.html" as macros %}
{% block title %} Chat Room {% endblock %}
{% block content %} 
    <div class="columns is-centered">
        <div class="column is-4">
            <div class="container is-fluid" style="text-align: center">
                <h1 class="title">Team Chats</h1>
            </div>
            <div class="content is-clearfix" style="height:60vh; overflow-y:auto">
                {% for chat in team_chats %}
                <div class="control">
                    <a class="button" href = "{{ url_for('chat_page', chat_id=chat['id']) }}"> {{ chat['name'] }} </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="column is-4">
            <div class="container is-fluid" style="text-align: center">
                <h1 class="title">Private Chats</h1>
            </div>
            <div class="content is-clearfix" style="height:60vh; overflow-y:auto">
                {% for chat in private_chats %}
                <div class="control">
                    <a class="button" href = "{{ url_for('chat_page', chat_id=chat['id']) }}"> {{ chat['name'] }} </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}