{% extends "layout.html" %}
{% block title %} {{ user.name|title }} {% endblock %}
{% block content %} 
    <div class="columns is-centered">
        <div class="column is-6">
            <div class="card">
                <div class="card-content">
                    <p class="title is-2"> {{ user.name }}</p>
                    <p class="subtitle is-3"> {{user.primary_spec}}</p>
                    <p class="content"> 
                        Also works on: {% for spec in user.secondary_specs %}
                        {{ spec }}{% if spec == user.secondary_specs[-2] %} and {% elif spec != user.secondary_specs[-1] %}, {% endif %}
                        {% endfor %}
                    </p>
                </div>
                <div class="columns is-centered">
                    <div class="column is-6">
                        <div class="card-content">
                            <p class="subtitle is-4"> About:</p>
                            <p class="content"> &emsp;{{user.about}}</p>
                        </div>
                    </div>
                    <div class="column is-6">
                        <div class="card-content">
                            <p class="subtitle is-4"> Experience:</p>
                            <p class="content"> &emsp;{{user.experience}}</p>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <div class="field is-grouped">
                        <div class="control">
                            <form action="{{ url_for('start_chat') }}" method="post" name="user_id"> 
                                <button name="user" class="button is-primary" value="{{user.id}}">Message</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
    </div>

{% endblock %}