{% extends "layout.html" %}
{% import "macros.html" as macros %}
{% block title %}Sign up{% endblock %}
{% block content %}

<form action="" method="post" name="movie_edit"> 
    <div class="container" style="text-align: center">
        <h1 class="title">Sign up</h1>
    </div>

    <div class="columns is-centered">
        <div class="column is-4">
            {{ macros.required_text_field(values, 'firstname', label = 'First Name', placeholder = 'Choose username', required=False)}}
            {{ macros.required_text_field(values, 'email', type='email')}}
            {{ macros.required_text_area(values, 'about', placeholder='Tell others about yourself')}}

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-primary">Sign up</button>
                </div>
            </div>
        </div>
        <div class="column is-4">

            {{ macros.required_text_field(values, 'lastname', label = 'Last Name')}}

            {{ macros.required_text_field(values, 'password', type='password')}}
            {{ macros.required_text_area(values, 'experience', placeholder='Describe your experience in game development')}}
        </div>
    </div>
</form>

{% endblock %}